<!DOCTYPE html>
<html>
<head>
  <title>CatarseRedecoin</title>
  <%= stylesheet_link_tag    "catarse_redecoin/application", media: "all" %>
  <%= javascript_include_tag "catarse_redecoin/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
